In [1]:
import numpy as np
import pandas as pd

In [25]:
rating_df = pd.read_csv('../data/animelist.csv', 
                        low_memory=False, 
                        # usecols=["user_id", "anime_id", "rating"]
                        #, nrows=90000000
                        )
rating_df.head(4)

   user_id  anime_id  rating  watching_status  watched_episodes
0        0        67       9                1                 1
1        0      6702       7                1                 4
2        0       242      10                1                 4
3        0      4898       0                1                 1

In [26]:
# random sample 10000 users based on user_id
user_ids = rating_df['user_id'].unique()
np.random.seed(0)
sample_user_ids = np.random.choice(user_ids, 5000, replace=False)

rating_df = rating_df[rating_df['user_id'].isin(sample_user_ids)]
rating_df.shape

(1722150, 5)

In [27]:
# rating_df.to_csv('../data/animelist_reduced.csv', index=False)

## remove duplicates

In [30]:
duplicates = rating_df.duplicated()

if duplicates.sum() > 0:
    print('> {} duplicates'.format(duplicates.sum()))
    rating_df = rating_df[~duplicates]

print('> {} duplicates'.format(rating_df.duplicated().sum()))

> 0 duplicates

In [31]:
rating_df

           user_id  anime_id  rating  watching_status  watched_episodes
12381           47     36793       0                1                 5
12382           47     41433       0                1                 0
12383           47     38753       8                1                 6
12384           47     40128       0                1                 0
12385           47     14669       0                1                 0
...            ...       ...     ...              ...               ...
109219928   353388     32951       0                6                 0
109219929   353388     32032       0                6                 0
109219930   353388      8675       0                6                 0
109219931   353388      2787       0                6                 0
109219932   353388     33834       0                6                 0

[1722150 rows x 5 columns]

In [32]:
# Encoding categorical data
user_ids = rating_df["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
user_encoded2user = {i: x for i, x in enumerate(user_ids)}
rating_df["user"] = rating_df["user_id"].map(user2user_encoded)
n_users = len(user2user_encoded)

anime_ids = rating_df["anime_id"].unique().tolist()
anime2anime_encoded = {x: i for i, x in enumerate(anime_ids)}
anime_encoded2anime = {i: x for i, x in enumerate(anime_ids)}
rating_df["anime"] = rating_df["anime_id"].map(anime2anime_encoded)
n_animes = len(anime2anime_encoded)

print("Num of users: {}, Num of animes: {}".format(n_users, n_animes))
print("Min rating: {}, Max rating: {}".format(min(rating_df['rating']), max(rating_df['rating'])))

Num of users: 5000, Num of animes: 17285
Min rating: 0, Max rating: 10

In [37]:
rating_df = rating_df.reset_index(drop=True)
rating_df

,user_id,anime_id,rating,watching_status,watched_episodes,user,anime
0,47,36793,0,1,5,0,0
1,47,41433,0,1,0,0,1
2,47,38753,8,1,6,0,2
3,47,40128,0,1,0,0,3
4,47,14669,0,1,0,0,4
...,...,...,...,...,...,...,...
1722145,353388,32951,0,6,0,4999,555
1722146,353388,32032,0,6,0,4999,3583
1722147,353388,8675,0,6,0,4999,565
1722148,353388,2787,0,6,0,4999,424
1722149,353388,33834,0,6,0,4999,1907