In [1]:
import numpy as np
import pandas as pd

In [4]:
rating_df = pd.read_csv('../data/animelist.csv', 
                        low_memory=False, 
                        usecols=["user_id", "anime_id", "rating"]
                        #, nrows=90000000
                        )
rating_df.head(4)

   user_id  anime_id  rating
0        0        67       9
1        0      6702       7
2        0       242      10
3        0      4898       0

In [22]:
# random sample 10000 users based on user_id
user_ids = rating_df['user_id'].unique()
np.random.seed(0)
sample_user_ids = np.random.choice(user_ids, 5000, replace=False)

rating_df = rating_df[rating_df['user_id'].isin(sample_user_ids)]
rating_df.shape

(1668726, 3)

In [23]:
rating_df

           user_id  anime_id  rating
12381           47     36793       0
12382           47     41433       0
12383           47     38753       8
12384           47     40128       0
12385           47     14669       0
...            ...       ...     ...
109219928   353388     32951       0
109219929   353388     32032       0
109219930   353388      8675       0
109219931   353388      2787       0
109219932   353388     33834       0

[1668726 rows x 3 columns]