In [1]:
import pandas as pd

In [6]:
anime_mapping = pd.read_csv('../data/anime_mapping.csv',index_col='anime_id')
anime_mapping.iloc[0:2,:]

,Name,Genres
anime_id,,
1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space"
5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space"

In [3]:
csmatrix = pd.read_csv('../data/csmatrix.csv',index_col='anime_id')
csmatrix.head()

,13767,1735,9624,53,5112,6287,8676,9925,15085,6547,...,41401,20083,37058,31317,3778,34502,38562,22053,2280,27491
anime_id,,,,,,,,,,,,,,,,,,,,,
13767,1.000000,0.316228,0.223607,0.507093,0.447214,0.316228,0.365148,0.0,0.200000,0.400000,...,0.316228,0.258199,0.000000,0.447214,0.223607,0.223607,0.223607,0.223607,0.316228,0.258199
1735,0.316228,1.000000,0.000000,0.133631,0.176777,0.250000,0.144338,0.0,0.000000,0.316228,...,0.500000,0.204124,0.353553,0.353553,0.176777,0.353553,0.176777,0.176777,0.250000,0.204124
9624,0.223607,0.000000,1.000000,0.188982,0.500000,0.353553,0.204124,0.0,0.223607,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000
53,0.507093,0.133631,0.188982,1.000000,0.377964,0.267261,0.771517,0.0,0.338062,0.338062,...,0.267261,0.218218,0.000000,0.377964,0.188982,0.188982,0.755929,0.188982,0.267261,0.218218
5112,0.447214,0.176777,0.500000,0.377964,1.000000,0.707107,0.408248,0.0,0.447214,0.223607,...,0.353553,0.288675,0.000000,0.500000,0.250000,0.250000,0.250000,0.250000,0.353553,0.577350

In [12]:
csmatrix.loc[13767]

13767    1.000000
1735     0.316228
9624     0.223607
53       0.507093
5112     0.447214
           ...
34502    0.223607
38562    0.223607
22053    0.223607
2280     0.316228
27491    0.258199
Name: 13767, Length: 12896, dtype: float64

In [13]:
csmatrix.index, csmatrix.columns

(Index([13767,  1735,  9624,    53,  5112,  6287,  8676,  9925, 15085,  6547,
        ...
        41401, 20083, 37058, 31317,  3778, 34502, 38562, 22053,  2280, 27491],
       dtype='int64', name='anime_id', length=12896),
 Index(['13767', '1735', '9624', '53', '5112', '6287', '8676', '9925', '15085',
        '6547',
        ...
        '41401', '20083', '37058', '31317', '3778', '34502', '38562', '22053',
        '2280', '27491'],
       dtype='object', length=12896))

In [15]:
anime = 'Junjou Romantica OVA'
anime_mapping[anime_mapping['Name'] == anime]

                          Name                              Genres
anime_id
13767     Junjou Romantica OVA  Comedy, Drama, Romance, Shounen Ai

In [17]:
anime = "Junjou Romantica OVA"
anime_index = anime_mapping[anime_mapping['Name'] == anime].index[0]
anime_index

13767

In [18]:
csmatrix.loc[6]

13767    0.507093
1735     0.534522
9624     0.000000
53       0.285714
5112     0.188982
           ...
34502    0.755929
38562    0.188982
22053    0.188982
2280     0.267261
27491    0.218218
Name: 6, Length: 12896, dtype: float64

In [20]:
csmatrix[1:100].to_csv("../data/small_csmatrix.csv")

In [33]:
df2 = pd.read_csv("../data/small_csmatrix.csv",index_col='anime_id')

In [36]:
df2

,13767,1735,9624,53,5112,6287,8676,9925,15085,6547,...,41401,20083,37058,31317,3778,34502,38562,22053,2280,27491
anime_id,,,,,,,,,,,,,,,,,,,,,
1735,0.316228,1.000000,0.000000,0.133631,0.176777,0.250000,0.144338,0.000000,0.000000,0.316228,...,0.500000,0.204124,0.353553,0.353553,0.176777,0.353553,0.176777,0.176777,0.250000,0.204124
9624,0.223607,0.000000,1.000000,0.188982,0.500000,0.353553,0.204124,0.000000,0.223607,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000
53,0.507093,0.133631,0.188982,1.000000,0.377964,0.267261,0.771517,0.000000,0.338062,0.338062,...,0.267261,0.218218,0.000000,0.377964,0.188982,0.188982,0.755929,0.188982,0.267261,0.218218
5112,0.447214,0.176777,0.500000,0.377964,1.000000,0.707107,0.408248,0.000000,0.447214,0.223607,...,0.353553,0.288675,0.000000,0.500000,0.250000,0.250000,0.250000,0.250000,0.353553,0.577350
6287,0.316228,0.250000,0.353553,0.267261,0.707107,1.000000,0.288675,0.000000,0.000000,0.316228,...,0.500000,0.408248,0.000000,0.707107,0.353553,0.353553,0.353553,0.353553,0.500000,0.408248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,0.474342,0.125000,0.176777,0.534522,0.353553,0.250000,0.433013,0.353553,0.316228,0.474342,...,0.250000,0.204124,0.000000,0.353553,0.530330,0.176777,0.176777,0.176777,0.250000,0.204124
5717,0.000000,0.000000,0.000000,0.188982,0.000000,0.000000,0.204124,0.500000,0.223607,0.223607,...,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000
3375,0.670820,0.176777,0.250000,0.566947,0.500000,0.353553,0.408248,0.000000,0.223607,0.447214,...,0.353553,0.288675,0.000000,0.500000,0.250000,0.250000,0.250000,0.250000,0.353553,0.288675
7593,0.365148,0.144338,0.612372,0.462910,0.612372,0.577350,0.500000,0.408248,0.365148,0.365148,...,0.288675,0.235702,0.000000,0.408248,0.408248,0.204124,0.204124,0.204124,0.288675,0.235702
8634,0.516398,0.204124,0.288675,0.436436,0.577350,0.408248,0.471405,0.000000,0.258199,0.258199,...,0.408248,0.333333,0.000000,0.577350,0.288675,0.288675,0.288675,0.288675,0.408248,0.333333

In [34]:
df2.index

Index([ 1735,  9624,    53,  5112,  6287,  8676,  9925, 15085,  6547, 21995,
         104,  6347,  5081,    67,    68,  7059,   269,  4835,   819,   232,
         371,   372, 10800, 13349,    60,  1575, 11703,  6747,  1535,  2994,
        8086,  9690,  9330,  6746,  4789,  2924,  9761,   120,    71,    73,
          72,   122,  1996,   121,  5114, 23289,  8425,   243,   507, 13161,
        6895,  9065, 13115,  4551, 16528,  5835,   587,  3298,   270,  5060,
       12461, 14645,  8768,  8426,   136,   138,   139,  3210, 11013,   249,
         452,   450,   451,   449,  6811,  9041,  3731,   228,  1594,  3713,
        3092,  4814, 14467,  5680,  7054, 14713, 25681,   145,   469,  1691,
          52,  6045,  9656, 10152,  1579,  5717,  3375,  7593,  8634],
      dtype='int64', name='anime_id')

In [40]:
df2.loc[53]

13767    0.507093
1735     0.133631
9624     0.188982
53       1.000000
5112     0.377964
           ...
34502    0.188982
38562    0.755929
22053    0.188982
2280     0.267261
27491    0.218218
Name: 53, Length: 12896, dtype: float64

In [42]:
2 in anime_mapping.index

False