In [2]:
import pandas as pd

In [13]:
anime_mapping = pd.read_csv('../data/anime_mapping.csv')
anime_mapping.iloc[0:2,:]

,anime_id,Name,Genres
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space"
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space"

In [12]:
csmatrix = pd.read_csv('../data/csmatrix.csv',index_col='anime_id')
csmatrix.head()

,13767,1735,9624,53,5112,6287,8676,9925,15085,6547,...,41401,20083,37058,31317,3778,34502,38562,22053,2280,27491
anime_id,,,,,,,,,,,,,,,,,,,,,
13767,1.000000,0.316228,0.223607,0.507093,0.447214,0.316228,0.365148,0.0,0.200000,0.400000,...,0.316228,0.258199,0.000000,0.447214,0.223607,0.223607,0.223607,0.223607,0.316228,0.258199
1735,0.316228,1.000000,0.000000,0.133631,0.176777,0.250000,0.144338,0.0,0.000000,0.316228,...,0.500000,0.204124,0.353553,0.353553,0.176777,0.353553,0.176777,0.176777,0.250000,0.204124
9624,0.223607,0.000000,1.000000,0.188982,0.500000,0.353553,0.204124,0.0,0.223607,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000
53,0.507093,0.133631,0.188982,1.000000,0.377964,0.267261,0.771517,0.0,0.338062,0.338062,...,0.267261,0.218218,0.000000,0.377964,0.188982,0.188982,0.755929,0.188982,0.267261,0.218218
5112,0.447214,0.176777,0.500000,0.377964,1.000000,0.707107,0.408248,0.0,0.447214,0.223607,...,0.353553,0.288675,0.000000,0.500000,0.250000,0.250000,0.250000,0.250000,0.353553,0.577350

In [18]:
csmatrix.iloc[8]

13767    0.200000
1735     0.000000
9624     0.223607
53       0.338062
5112     0.447214
           ...
34502    0.000000
38562    0.000000
22053    0.223607
2280     0.000000
27491    0.258199
Name: 15085, Length: 12896, dtype: float64

In [9]:
anime = "Bouken Ou Beet"
anime_index = csmatrix[anime_mapping['Name'] == anime].index[0]
anime_index

8

In [19]:
csmatrix.index

Index([13767,  1735,  9624,    53,  5112,  6287,  8676,  9925, 15085,  6547,
       ...
       41401, 20083, 37058, 31317,  3778, 34502, 38562, 22053,  2280, 27491],
      dtype='int64', name='anime_id', length=12896)

In [16]:
csmatrix.loc[8]

13767    0.223607
1735     0.353553
9624     0.000000
53       0.000000
5112     0.250000
           ...
34502    0.000000
38562    0.000000
22053    0.250000
2280     0.000000
27491    0.288675
Name: 8, Length: 12896, dtype: float64

In [11]:
csmatrix = pd.read_csv('../data/csmatrix.csv',index_col='anime_id')
csmatrix.head()

,13767,1735,9624,53,5112,6287,8676,9925,15085,6547,...,41401,20083,37058,31317,3778,34502,38562,22053,2280,27491
anime_id,,,,,,,,,,,,,,,,,,,,,
13767,1.000000,0.316228,0.223607,0.507093,0.447214,0.316228,0.365148,0.0,0.200000,0.400000,...,0.316228,0.258199,0.000000,0.447214,0.223607,0.223607,0.223607,0.223607,0.316228,0.258199
1735,0.316228,1.000000,0.000000,0.133631,0.176777,0.250000,0.144338,0.0,0.000000,0.316228,...,0.500000,0.204124,0.353553,0.353553,0.176777,0.353553,0.176777,0.176777,0.250000,0.204124
9624,0.223607,0.000000,1.000000,0.188982,0.500000,0.353553,0.204124,0.0,0.223607,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.353553,0.000000
53,0.507093,0.133631,0.188982,1.000000,0.377964,0.267261,0.771517,0.0,0.338062,0.338062,...,0.267261,0.218218,0.000000,0.377964,0.188982,0.188982,0.755929,0.188982,0.267261,0.218218
5112,0.447214,0.176777,0.500000,0.377964,1.000000,0.707107,0.408248,0.0,0.447214,0.223607,...,0.353553,0.288675,0.000000,0.500000,0.250000,0.250000,0.250000,0.250000,0.353553,0.577350